@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');

body { 
  font-family: 'Open Sans Condensed'; 
  color: #181818;
  font-size: large;
  background: #efefef;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Londrina Solid';  
  color: #000000;
}
h1, .h1 {
  font-family: 'Londrina Solid';
  color: #ff7518;
}

a {
  color: #000000;
  text-decoration: none;
  border-bottom: #ff7518 solid 1px;
  font-weight: bold;
}

a:hover, a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff7518;
}

code a {
  border: none;
}

em, i {
  font-style: normal;
  background-color: #f9f2f4;
  background-color: rgba(0, 0, 0, 0.04);
}

blockquote{
  border-color:#ff7518;
  font-size: medium;
}

.navbar {
  background: #efefef;
  color: #000000;
  border: none;
}

.navbar a{
  color: #000000;
}

.navbar-nav a {
  font-family: 'Open Sans Condensed'; 
  font-weight: normal;
  text-transform: uppercase;
  border: none;
  color: #000000;
}

.navbar-brand {
  font-family: 'Londrina Solid'; 
  border: none;
  color: #ff7518;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
  background-color:#C0C0C0;
}

.special {
  font-family: 'Open Sans Condensed'; 
  font-weight: normal;
  text-transform: none;
  font-size: small;
  color: #000000;
}

.pumpkin {
  color:#ff7518;
}


.hidden {
  display:none;
}